/*
**	app styles
*/
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*
** Sass Utilities
*/
/*
**	base index
*/
* {
  box-sizing: border-box; }

body,
html {
  width: 100%;
  height: 100%; }

body.no-scroll {
  overflow: hidden; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.6667;
  color: #5e6372; }
  @media (min-width: 62rem) {
    body {
      font-size: 1.125em; } }

p {
  margin: 0 0 0.9375rem; }

h1 {
  font-size: 2.25em;
  line-height: 1.2;
  margin: 0 0 0.9375rem; }
  @media (min-width: 62rem) {
    h1 {
      font-size: 2.6666666667em; } }

h2 {
  font-size: 1.6666666667em;
  margin: 0 0 0.9375rem; }

.text-gradient {
  display: inline-block;
  background: linear-gradient(45deg, #cb0134 0%, #e06900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.grid__wrapper {
  width: 100%;
  max-width: 87.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border: 1px solid transparent; }

.grid__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }

.grid__col {
  padding: 0 0.9375rem; }

.primary-header {
  width: 100%;
  max-width: 87.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.875rem; }

.primary-header__row {
  display: flex;
  align-items: center; }
  @media (min-width: 62rem) {
    .primary-header__row {
      align-items: flex-end; } }

.primary-header__logo {
  margin-right: auto; }

.hero {
  background: url("./../imgs/hero-bg.jpg") no-repeat center top #d5311c;
  background-size: cover;
  width: 100%;
  height: 100%; }

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 42.5rem;
  padding: 0 0.9375rem;
  text-align: center; }
  @media (min-width: 62rem) {
    .hero__content {
      top: 28%;
      transform: translateX(-50%); } }

.hero__title {
  color: #fff; }

.hero__intro {
  color: #eb8042; }

.hero__cta {
  margin-top: 1.875rem; }
  @media (min-width: 62rem) {
    .hero__cta {
      margin-top: 3.75rem; } }

.hero__cta .button {
  width: 15rem; }

.hero__scroll {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%); }
  @media (min-width: 62rem) {
    .hero__scroll {
      display: block; } }

.features {
  background: #f6f6f6;
  padding: 7.5rem 0; }

.features__items {
  margin-bottom: 3.75rem; }

.features__col {
  width: 100%;
  margin-bottom: 1.875rem; }
  @media (min-width: 47.9375rem) {
    .features__col {
      width: 50%; } }
  @media (min-width: 75rem) {
    .features__col {
      width: 25%; } }

.features__item {
  text-align: center;
  padding: 0 0.9375rem; }

.features__cta {
  padding: 0 0.9375rem;
  text-align: center; }

.info {
  padding: 7.5rem 0; }
  @media (min-width: 75rem) {
    .info {
      background: url("./../imgs/info-drone.jpg") no-repeat 135% center; } }
  @media (min-width: 90.625rem) {
    .info {
      background: url("./../imgs/info-drone.jpg") no-repeat right center; } }

.info__intro {
  width: 100%;
  max-width: 50rem; }

.info__points {
  width: 100%;
  max-width: 62.5rem; }

.vid-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  height: auto; }
  @media (min-width: 47.9375rem) {
    .vid-info {
      flex-direction: row;
      height: 28.125rem; } }
  @media (min-width: 75rem) {
    .vid-info {
      height: 39.375rem; } }

.vid-info__video {
  position: relative;
  width: 100%;
  height: 18.75rem;
  overflow: hidden; }
  @media (min-width: 47.9375rem) {
    .vid-info__video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      height: auto; } }

.vid-info__placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%; }

.vid-info__info {
  padding: 5.625rem 0; }
  @media (min-width: 47.9375rem) {
    .vid-info__info {
      width: 50%;
      margin-left: 50%;
      padding: 0;
      padding: 0 0 0 1.875rem; } }
  @media (min-width: 75rem) {
    .vid-info__info {
      padding: 0 0 0 5.625rem; } }

.vid-info__cta {
  margin-top: 1.875rem; }
  @media (min-width: 75rem) {
    .vid-info__cta {
      margin-top: 2.8125rem; } }

.vid-info--alt .vid-info__video {
  left: auto;
  right: 0; }

.vid-info--alt .vid-info__info {
  margin-left: 0;
  padding: 5.625rem 0; }
  @media (min-width: 47.9375rem) {
    .vid-info--alt .vid-info__info {
      padding: 0 1.875rem 0 0; } }
  @media (min-width: 75rem) {
    .vid-info--alt .vid-info__info {
      padding: 0 5.625rem 0 0; } }

.newsletter {
  background: url("./../imgs/newsletter-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 7.5rem 0;
  text-align: center;
  color: #fff; }
  @media (min-width: 62rem) {
    .newsletter {
      padding: 9.375rem 0 11.25rem; } }

.newsletter__input {
  max-width: 24.375rem;
  margin: 2.8125rem auto 0; }

.map {
  overflow: hidden; }

.map img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  min-width: 75rem; }

.primary-footer {
  padding: 5.625rem 0 5.625rem;
  text-align: center; }

.primary-footer p {
  color: #a7acbc;
  font-size: 0.7777777778em; }

.button {
  display: inline-block;
  height: 3.125rem;
  line-height: 3.125rem;
  margin: 0 0 0.9375rem;
  padding: 0 3.125rem;
  background: #999;
  border-radius: 3.125rem;
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all .3s; }

.button--small {
  height: 2.8125rem;
  line-height: 2.8125rem;
  padding: 0 1.25rem;
  border-radius: 2.8125rem; }

.button--light {
  background: #fff;
  color: #d32721; }

.button--dark {
  background: linear-gradient(45deg, #264699 0%, #4964a9 100%);
  color: #fff; }

.button--ghost {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff; }

.button img {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.3125rem; }

.button-group .button {
  margin-left: 0.625rem;
  margin-right: 0.625rem; }

input[type="text"] {
  display: block;
  width: 100%;
  padding: 0 1.875rem;
  height: 3.125rem;
  line-height: 3.125rem;
  border-radius: 3.125rem;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  border: 0.0625rem solid rgba(255, 255, 255, 0.3);
  color: #fff; }

::placeholder {
  color: #fff;
  opacity: 1; }

.input-inline {
  position: relative; }
  .input-inline .button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0; }

.logo {
  position: relative;
  display: inline-block;
  font-size: 2em;
  color: #212121;
  text-decoration: none;
  font-weight: 700;
  z-index: 10; }
  @media (min-width: 62rem) {
    .logo {
      font-size: 2em; } }

.logo span {
  font-weight: 400; }

.logo--light {
  color: #fff; }

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 62rem) {
    .nav-list {
      flex-direction: row; } }

.nav-list__item {
  margin-left: 1.875rem; }
  @media (max-width: 62rem) {
    .nav-list__item {
      margin: 10px 0; } }

.nav-list__item a {
  text-decoration: none;
  color: #fff; }
  @media (max-width: 62rem) {
    .nav-list__item a {
      font-size: 1.5em; } }

.nav-list__item .button {
  margin: 0; }

.nav-toggle {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  z-index: 10; }
  @media (min-width: 62rem) {
    .nav-toggle {
      display: none; } }
  .nav-toggle:before, .nav-toggle:after {
    content: '';
    position: absolute;
    top: 0.625rem;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background: #fff; }
  .nav-toggle:after {
    top: auto;
    bottom: 0.5rem; }
  .nav-toggle.active span {
    display: none; }
  .nav-toggle.active:before, .nav-toggle.active:after {
    top: 50%;
    transition: all .3s; }
  .nav-toggle.active:before {
    transform: rotate(45deg); }
  .nav-toggle.active:after {
    transform: rotate(-45deg); }

.nav-toggle span {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0.125rem;
  background: #fff; }

@media (max-width: 62rem) {
  .mobile-nav {
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d5311c;
    z-index: 9; }

  .mobile-nav.active {
    opacity: 1;
    pointer-events: initial;
    transition: opacity .3s; } }
.scroll {
  text-align: center; }

.scroll__icon {
  position: relative;
  margin: 0 auto 0.3125rem;
  width: 1.625rem;
  height: 2.5rem;
  border-radius: 1.625rem;
  background: rgba(255, 255, 255, 0.6); }
  .scroll__icon:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0.4375rem;
    transform: translateX(-50%);
    display: block;
    width: 0.1875rem;
    height: 0.4375rem;
    border-radius: 0.1875rem;
    background: #b70c19; }

.scroll__text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.7777777778em; }

.points {
  width: 100%; }

.points ol,
.points ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 47.9375rem) {
    .points ol,
    .points ul {
      flex-direction: row;
      flex-wrap: wrap; } }

.points li {
  position: relative;
  counter-increment: step-counter;
  padding: 1.875rem 0 1.875rem 4.6875rem; }
  .points li:after {
    content: counter(step-counter);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.125rem;
    border-radius: 50%;
    border: 2px solid #c7cde0;
    font-size: 1.3333333333em;
    text-align: center;
    color: #3f4e76; }
  @media (min-width: 47.9375rem) {
    .points li {
      width: 50%;
      padding-right: 1.875rem; }
      .points li:nth-of-type(1) {
        order: 1; }
      .points li:nth-of-type(4) {
        order: 2; }
      .points li:nth-of-type(2) {
        order: 3; }
      .points li:nth-of-type(5) {
        order: 4; }
      .points li:nth-of-type(3) {
        order: 5; } }

.points p {
  font-size: 0.875em;
  margin: 0;
  color: #a7acbc; }
  @media (min-width: 62rem) {
    .points p {
      font-size: 0.875em; } }

/*# sourceMappingURL=app.css.map */
