.features {
	background: #f6f6f6;
	padding: rem-calc(120px) 0;
}

.features__items {
	margin-bottom: rem-calc(60px);
}

.features__col {
	width: 100%;
	margin-bottom: rem-calc(30px);

	@include breakpoint(sm) {
		width: 50%;
	}

	@include breakpoint(lg) {
		width: 25%;
	}
}

.features__item {
	text-align: center;
	padding: 0 rem-calc(15px);
}

.features__cta {
	padding: 0 rem-calc(15px);
	text-align: center;
}