.primary-footer {
	padding: rem-calc(90px) 0 rem-calc(90px);
	text-align: center;
}

.primary-footer p {
	color: #a7acbc;
	font-size: em-calc(14px, 18px);
}

.primary-footer a {
	color: #a7acbc;
	text-decoration: none;
	font-weight: bold;
}

